<div class="egresos">
    <div class="contenedor_egreso-titulo">
        <h2 class="egreso_titulo">EGRESOS</h2>
    </div>
    <div id="lista-egresos" class="lista_egresos">
        <div class="elemento">
            <div class="elemento_descripcion"></div>
            <div class="elemento_simbolo simbolo_egreso">- </div>
            <div class="elemento_valor egreso_valor"></div>
            <div class="elemento_porcentaje"></div>
            <div class="elemento_eliminar">
                <button class="elemento_eliminar--btn">
                    <i class="ion-ios-close-outline"></i>
                </button>
            </div>
        </div>
    </div>
</div>