/*normalize*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 1em;
    height: 100vh;
    font-weight: 400;
}

.contenedor {
    display: flex;
    gap: 12em;
    margin: 3em auto;
    width: 70%;
}
