<form id="form">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select id="tipo" class="agregar_tipo">
                <option value="ingreso" selected> + </option>
                <option value="egreso"> - </option>
            </select>
            <input type="text" id="descripcion" class="agregar_descripcion" placeholder="Agregar Descripcion" required>
            <input type="number" id="valor" class="agregar_valor" placeholder="Agregar Valor" step="any" required>
            <button class="agregar_btn" id="agregar-btn">
                <i class="ion-ios-checkmark-outline"></i>
            </button>
        </div>
    </div>
</form>